.mat-stepper-horizontal {
  margin-top: 8px;
}

textarea {
  height: 150px;
}

mat-spinner {
  margin-left: 40%;
  position: absolute;
}

.mat-form-field {
  margin-top: 16px;
  width: 100%;
}

button {
  margin-right: 8px;
  @media only screen and (max-width: 600px) {
    width: 100%;
    margin-bottom: 8px;
  }
}

mat-card {
  display: flex;
  justify-content: space-between;
}

.copy-icon {
  cursor: pointer;
  opacity: 0;
  @media only screen and (max-width: 600px) {
    /* For tablets & Mobile: */
    opacity: 1;
  }
  &.is-value {
    font-size: 16px;
    color: #3f51b5;
    margin-left: 10%;
  }
}

mat-card:hover {
  .copy-icon {
    opacity: 1;
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}

.container {
  margin-bottom: 70px;
}

.result {
  word-wrap: break-word;
  width: 62%;
  .path-value-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 160%;
  }
  .path-value {
    margin: -10px 0 0 10px;
    color: #3f51b5;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 1.2em;
    white-space: nowrap;
  }
}

.full-status {
  color: #ff4081;
}
.tooltip {
  background-color: #ff4081;
}

.partial {
  font-weight: 100;
}

mat-panel-title {
  height: 60px;
  align-items: center;
}
mat-expansion-panel-header {
  height: inherit;
}
mat-expansion-panel {
  margin-top: 10px;
}

.img-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -50px;
  &.is-mobile {
    margin-top: 10px;
  }
  img {
    width: 200px;
    border: 1px dashed #e1dbdb;
    &.full-width {
      width: 100%;
    }
  }
}

// .mat-expansion-panel-content {
//   max-height: 100vh;
//   overflow-y: scroll;
// }
