<mat-toolbar color="primary">
  <span>WCS Helper</span>
</mat-toolbar>
<div class="container">
  <mat-horizontal-stepper *ngIf="!isMobile" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out JSON object</ng-template>
        <mat-form-field>
          <mat-label>JSON Object</mat-label>
          <textarea matInput placeholder="{key: value, ...}" formControlName="json" required></textarea>
        </mat-form-field>
        <div>
          <button mat-raised-button (click)="checkJSON(stepper)">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out the value</ng-template>
        <mat-form-field>
          <mat-label>Enter the value</mat-label>
          <input matInput formControlName="text" placeholder="Ex. Entendido" required>
        </mat-form-field>
        <div>
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" (click)="search()">Search</button>
          <button mat-raised-button matStepperNext>Done</button>
        </div>
        <div class="container mt-5">
          <h2>
            <span matBadge="{{results?.length}}" matBadgeOverlap="false">Results </span>
          </h2>
          <input type="text" value="5555" #resultValue style="opacity: 0;height: 0px;">
          <mat-card *ngFor="let result of results; let i = index" class="mt-3">
            <div class="result">{{result}}</div>
            <mat-icon class="copy-icon" (click)="addToClipboard(resultValue, result)">filter_none</mat-icon>
          </mat-card>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done, thank you for using this tool ( 👁 ͜ʖ 👁 )✌</p>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button color="accent" (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

  <mat-vertical-stepper *ngIf="isMobile" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out JSON object</ng-template>
        <mat-form-field>
          <mat-label>JSON Object</mat-label>
          <textarea matInput placeholder="{key: value, ...}" formControlName="json" required></textarea>
        </mat-form-field>
        <div>
          <button mat-raised-button (click)="checkJSON(stepper)">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out the value</ng-template>
        <mat-form-field>
          <mat-label>Enter the value</mat-label>
          <input matInput formControlName="text" placeholder="Ex. Entendido" required>
        </mat-form-field>
        <div>
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" (click)="search()">Search</button>
          <button mat-raised-button matStepperNext>Done</button>
        </div>
        <div class="container mt-5">
          <h2>
            <span matBadge="{{results?.length}}" matBadgeOverlap="false">Results </span>
          </h2>
          <input type="text" value="5555" #resultValue style="opacity: 0;height: 0px;">
          <mat-card *ngFor="let result of results; let i = index" class="mt-3">
            <div class="result">{{result}}</div>
            <mat-icon class="copy-icon" (click)="addToClipboard(resultValue, result)">filter_none</mat-icon>
          </mat-card>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done, thank you for using this tool ( 👁 ͜ʖ 👁 )✌</p>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button color="accent" (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>

</div>
<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://github.com/Mina-Dawood"> Mina Dawood</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
