.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
  width: 100%;
}

button {
  margin-right: 8px;
}

mat-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copy-icon {
  cursor: pointer;
  opacity: 0;
  @media only screen and (max-width: 600px) {
    /* For tablets & Mobile: */
    opacity: 1;
  }
}

mat-card:hover {
  .copy-icon {
    opacity: 1;
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}

.container {
  margin-bottom: 70px;
}

.result {
  word-wrap: break-word;
  width: 80%;
}
